// General styles

.navbar-dark .navbar-brand {
    color: $white;
}

.site-content {
	margin-top: 120px;
}

.site-footer {
	padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.screen-reader-text {
	display: none;
}
